body,
html,
.page-wrapper {
  margin: 0;
  padding: 0;
  height: 100%;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f8f8f8;
  padding: 10px;
  text-align: center;
  z-index: 100;
}


.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f8f8f8;
  padding: 10px;
  z-index: 1000;
}



.content {
  margin-top: 100px;
  margin-bottom: 60px;
  padding: 20px;
  height: calc(100vh - 120px);
  overflow-y: auto;
}

.header h1,
.footer p {
  margin: 0;
}

.no-underline {
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
}


.content-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content-header {
  padding: 20px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #333;
  line-height: 1.6;
  background-color: #fff;
  border: 1px solid #f0ad4e;
  border-radius: 10px;
  margin-bottom: 20px;
}

.content-header br {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .content-container {
    padding: 15px;
  }

  .content-header {
    font-size: 16px;
  }
}