.book-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  color: #000000;
}

h1 {
  text-align: center;
  color: #000000;
}


.get-start {
  padding: 10px;
}


.form-floating {
  position: relative;
  margin-bottom: 20px;
}

.form-floating input {
  background-color: #ffffff;
  border: 1px solid #bdc3c7;
  color: #000000;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

.form-floating input::placeholder {
  color: #000000;
}

.form-floating label {
  color: #000000;
  font-weight: bold;
  font-size: 14px;
}


.error-message {
  color: #e74c3c;
  font-size: 12px;
  margin-top: 5px;
}


.form-check-input:checked {
  background-color: #e74c3c;
  border-color: #e74c3c;
}

#availability-switch {
  color: #000000;
}


.form-control {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
}

.form-control:focus {
  border-color: #e74c3c;
  box-shadow: 0 0 5px rgba(231, 76, 60, 0.5);
}


.form-check-label {
  font-size: 14px;
  color: #000000;
}

.form-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.label-text {
  font-size: 14px;
  color: #000000;
  margin-bottom: 5px;
}

.btnAdd {
  display: block;
  margin: 20px auto;
  padding: 10px;
  width: 100%;
  max-width: 400px;
  border-radius: 5px;
  background-color: #e74c3c;
  border: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.3s;
}


.form-control::placeholder {
  color: black !important;
}


.btnAdd:hover {
  background-color: #c0392b;
}

@media (max-width: 768px) {
  .profile-container {
    padding: 15px;
    margin: 10px;
  }

  .btnAdd {
    width: 100%;
  }
}